*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    background:#fff;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    font-family: 'Lato','Arial',sans-serif;
    color:#555;
}
.row{
    max-width:1140px;
    margin:0 auto;
}
header{
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(img/hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
h1{
    margin:0;
}
.hero-text-box{
    width:1140px;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}